@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --red: #ff5a3c;
  --light-red: gray;
  --orange: #ff9500;
  --white-color: #fff;
  --black-color: #333;
  --pink:#FF046F;
  --violet:#C63BFA;
  --light-color: rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: #f7f7f7;
}

section {
  padding: 2rem 9%;
}
.title{
    padding:0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color:#aaa;
  }
.heading{
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid var(--light-color);
    font-size: 3rem;
    color: var(--black-color);
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--black-color);
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
  }
  .btn:hover {
    background: var(--orange);
    color: #fff;
  }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 1.5rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-weight: bolder;
  font-size: 2.5rem;
  /* color: #333; */
}
header .logo span {
  color: var(--red);
}
header .navbar a {
  color: #333;
  font-size: 2rem;
  padding: 0 1.5rem;
}
header .navbar a:hover {
  color: var(--red);
}
header .icons #menu-bar,
header .icons a {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  color: var(--red);
  background: var(--light-red);
  text-align: center;
}
header .icons #menu-bar:hover,
header .icons a:hover {
  background-color: var(--red);
  color: #fff;
}

header .icons #menu-bar {
  display: none;
}


.home{
    min-height: 90vh;
    background: gray;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}

.home .content{
    flex: 1 1 40rem;
}
.home .image {
    flex: 1 1 40rem;
    text-align: center;
  }
  .home .image img {
    width: 30vw;
  }

.home .content span {
    color: var(--black-color);
    font-size: 3rem;
  }

  .home .content h3 {
      padding-bottom: 3.5rem;
    color:black;
    font-size: 6rem;
    text-transform: uppercase;
    width: 657px;
  }
  .home .content p {
      padding-bottom: 3.5rem;
    color:black;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 657px;
  }
  .home .content ul li {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 2rem;
  }




  /* featured section  */
  .feature .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .feature .box-container .box {
      width: 20%px;
    height: 300px;
    flex: 1 1 40rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
  }
  
  .feature .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .feature .box-container .box:hover img {
    transform: scale(1.1);
  }
  .feature .box-container .content {
    position: absolute;
    bottom: 7rem;
    left: 2rem;
  }
  .feature .box-container .content span {
    font-size: 2rem;
    color: var(--orange);
  }
  .feature .box-container .content span {
    font-size: 3rem;
    color: #3337;
    text-transform: uppercase;
    padding-top: 0.5rem;
  }



  /* team section  */

  .team{
    background:#f9f9f9;
  }
  
  .team .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
  }
  
  .team .card-container .card{
    padding:2rem;
    margin: 2rem;
    background:#fff;
    text-align: center;
    width:28rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .team .card-container .card img{
    height:30rem;
    width:100%;
    object-fit: cover;
    filter: grayscale();
    transition: .2s;
  }
  
  .team .card-container .card:hover img{
    filter: grayscale(0);
  }
  
  .team .card-container .card h3{
    color:var(--pink);
    font-size: 2rem;
    padding:.5rem 0;
  }

  
  .team .card-container .card .icons a{
    font-size: 1.9rem;
    padding:1.5rem .5rem;
    color:var(--pink);
  }
  
  .team .card-container .card .icons a:hover{
    color:var(--violet);
  }


  /* news section starts  */
  .news{
    background:#f9f9f9;
  }
  
  .news .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:3rem 0;
  }
  
  .news .card-container .card{
    padding:1rem;
    margin: 1rem;
    background:#fff;
    text-align: center;
    width:30rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .news .card-container .card img{
    height:30rem;
    width:100%;
    object-fit: cover;
  }
  
  
  
  .news .card-container .card h3{
    color:black;
    font-size: 2rem;
    padding:.5rem 0;
  }
  .news .card-container .card p{
    font-size: 1.7rem;
    color:#666;
  }
  
  .news .card-container .card .icons a{
    font-size: 1.9rem;
    padding:1.5rem .5rem;
    color:var(--pink);
  }
  
  .news .card-container .card .icons a:hover{
    color:var(--violet);
  }


  /* footer section  */

  .footer .footer-container1 {
    background: var(--white-color);
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: 2rem;
  }

  .footer .footer-container1 .box-container1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: row;
  }

  .footer .footer-container1 .box-container1 .box{
    flex: 1 0 auto;
    
  }
  .footer .footer-container1 .box-container1 .box h3{
    color: var(--orange);
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  .footer .footer-container1 .box-container1 .box a{
    display: block;
    color: var(--black-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    font-weight: 300;
  }

  .footer .footer-container1 .box-container1 .box a:hover{
    color: var(--orange);
    text-decoration:underline;
  }

  .footer .footer-container1 .box-container1 .box img {
    margin-top: 1rem ;
  }
  .footer .footer-container1 .credit {
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid var(--light-color);
    color: var(--black-color);
    text-align: center;
  }


































/* media quries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 1rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bar {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #f7f7f7;
    border-top: 0.1rem solid #333;
    border-bottom: 0.1rem solid #333;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem;
    background: #fff;
    border: 0.1rem solid #333;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  .home .content {
    text-align: center;
  }
  .home .image img {
    width: 100%;
  }
}


@media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .heading {
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
      }
  }